<div align="center"><h1>Listing all repairs for your <%= @car.year %> <%= @car.make %> <%= @car.model %></h1><br /></div>
<div align="center"><strong>Registration due:</strong> <%= @car.registration %></div>
<div align="center">[ <a href="/repairs/new?car_id=<%= @car.id %>">Add a new repair for this car</a> | <a href="/cars/<%= @car.id %>/delete">Remove this car and all associated repairs</a> ]<br /></div>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Date</th>
			<th scope="col">Description of repair</th>
			<th scope="col">Delete?</th>
		</tr>
	</thead>
	<tbody>
		<% @repairs.each do |repair| %>
		<tr>
			<td><%= repair.date %></td>
			<td><a href="/repairs/<%= repair.id %>/edit"><%= repair.description %></a></td>
			<td><form action="/repairs/<%= repair.id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete">
</form></td>
		</tr>
		<% end %>
	</tbody>
</table>