<div align="center"><h1>Listing all repairs for your <%= @car.year %> <%= @car.make %> <%= @car.model %></h1><br /></div>
<div align="center">[ <a href="/repairs/new?car_id=<%= @car.id %>">Add a new repair for this car</a> | <a href="#">Remove this car</a> ]<br /></div>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Date</th>
			<th scope="col">Description of repair</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		<% @repairs.each do |repair| %>
		<tr>
			<td><%= repair.date %></td>
			<td><%= repair.description %></td>
			<td><form action="/repairs/<%= repair.id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete">
</form></td>
		</tr>
		<% end %>
	</tbody>
</table>